
<div style="overflow: auto;">
  <app-navbar></app-navbar>
  <div class="align-center flex-column">
    <div class="hr-custom"></div>
    <div class="wrap space-between" style="width: 60%;">
      <div class="w49" style="padding-right: 2rem;">
        <h1 style="font-size: 42px; margin: 0;">Soprassalto</h1>
        <h5 class="m0 sub">Animazione frame by frame</h5>
        <p>Vi racconto una storia. Una di quelle avvenute in luoghi e tempi lontani. Un giorno all'improvviso, non si sa bene
        perché, gli uomini abbandonarono la terra dove abitavano. Forse perché erano troppo annoiati o stanchi delle loro
        giornate scandite e monotone. Loro, semplicemente, andarono via. Presero le loro case arredate con begli oggetti e
        iniziarono a camminare. Passo dopo passo si allontanarono dal posto dove, un giorno, avevano impiantato le loro radici.
        Nessuno ancora sa dove essi siano andati. Da allora la Terraferma iniziò ad essere abitata da nuove creature, esseri
        viventi che fino ad allora avevano conosciuto solo le coste terrestri, rocciose e silenziose.</p>
      </div>
      <div class="w49">
        <iframe src="https://www.youtube.com/embed/OCoK1z8f6Ws" frameborder="0" style="height: 30vh" class="w100"></iframe>
        <button class="p1">guarda su youtube</button>
      </div>
    </div>
  </div>
</div>