h1 {
    font-family: 'Borel', cursive;
    font-size: 43px;
}

li {
    font-size: 16px;
}

.fa-brands {
    font-size: 24px;
    margin: 0.5rem;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: inherit;

    &:hover {
        color: rgba(0, 0, 0, 0.436);
        transition-duration: 0.3s;
    }
}