<div class="text-center" style="padding: 2rem; position: relative">
    <div class="flex" style="position: absolute; right: 5%;">
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="text-center">
        <h1>Emanuela Sandu</h1>
    </div>
    <div class="justify-center">
        <ul class="w40">
            <li>
                <a href="http://localhost:8100/libri">LIBRI</a>
            </li>
            <a [routerLink]="'/animazioni'">ANIMAZIONI</a>
            <a [routerLink]="'/collaborazioni'">COLLABORAZIONI</a>
            <a [routerLink]="'/presentazione'">CHI SONO</a>
            <a [routerLink]="'/contatti'">CONTATTI</a>
        </ul>
    </div>
</div>