<app-navbar></app-navbar>
<div style="overflow: auto;">
    <div style="width: 100%;">
        <div style="width: 80%; margin: auto;">
            <div class="row">
                <div class="uno container-img" (click)="openModal('../../assets/images/home/uno.jpg', 'Description 1')"></div>
                <div class="due container-img" (click)="openModal('../../assets/images/home/due.jpg', 'Description 1')"></div>
                <div class="tre container-img" (click)="openModal('../../assets/images/home/tre.jpg', 'Description 1')"></div>
            </div>        
            <div class="row">
                <div class="quattro container-img" (click)="openModal('../../assets/images/home/quattro.jpg', 'Description 1')"></div>
            </div>        
            <div class="row">
                <div class="cinque container-img" (click)="openModal('../../assets/images/home/cinque.jpg', 'Description 1')"></div>
                <div class="sei container-img" (click)="openModal('../../assets/images/home/sei.jpg', 'Description 1')"></div>
            </div>
            
            <div class="row">
                <div class="sette container-img" (click)="openModal('../../assets/images/home/sette.jpg', 'Description 1')"></div>
                <div class="otto container-img" (click)="openModal('../../assets/images/home/otto.jpg', 'Description 1')"></div>
                <div class="nove container-img" (click)="openModal('../../assets/images/home/nove.jpg', 'Description 1')"></div>
            </div>
            
            <div class="row flex">
                <div class="dieci container-img" (click)="openModal('../../assets/images/home/dieci.jpg', 'Description 1')"></div>
                <div class="undici container-img" (click)="openModal('../../assets/images/home/undici.jpg', 'Description 1')"></div>
                <div class="dodici container-img" (click)="openModal('../../assets/images/home/dodici.jpg', 'Description 1')"></div>
            </div>
            
            <div class="row">
                <div style="width: 33.3%; overflow: hidden;">
                    <div class="tredici container-img w100" (click)="openModal('../../assets/images/home/tredici.jpg', 'Description 1')"></div>
                    <div class="quattordici container-img" (click)="openModal('../../assets/images/home/quattordici.jpg', 'Description 1')"></div>
                </div>
                <div  style="width: 33.3%; overflow: hidden;  margin: 0px 5px;">
                    <div class="quindici container-img w100" (click)="openModal('../../assets/images/home/quindici.jpg', 'Description 1')"></div>
                </div>
                <div style="width: 33.3%; overflow: hidden;">
                    <div class="sedici container-img w100" (click)="openModal('../../assets/images/home/sedici.jpg', 'Description 1')"></div>
                    <div class="diciassette container-img w100" (click)="openModal('../../assets/images/home/diciassette.jpg', 'Description 1')"></div>
                </div>
            </div>
            
            <div class="row">
                <div class="diciotto container-img"></div>
                <div class="diciannove container-img"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal" [ngClass]="{'active': modalOpen}" (click)="closeModal()">
    <div class="modal-content-container" (click)="$event.stopPropagation()">
        <img class="modal-content w50" [src]="selectedPhotoSrc" [alt]="selectedPhotoAlt" />
        <div class="description">{{selectedPhotoAlt}}</div>
    </div>
</div>
