<div style="overflow: auto;">
    <app-navbar></app-navbar>
    <div style="width: 100%;">
        <div style="width: 80%; margin: auto;">
            <div class="row">
                <div class="uno container-img"></div>
                <div class="due container-img"></div>
                <div class="tre container-img"></div>
            </div>        
            <div class="row">
                <div class="quattro container-img"></div>
            </div>        
            <div class="row">
                <div class="cinque container-img"></div>
                <div class="sei container-img"></div>
            </div>
            
            <div class="row">
                <div class="sette container-img"></div>
                <div class="otto container-img"></div>
                <div class="nove container-img"></div>
            </div>
            
            <div class="row flex">
                <div class="dieci container-img"></div>
                <div class="undici container-img"></div>
                <div class="dodici container-img"></div>
            </div>
            
            <div class="row">
                <div style="width: 33.3%; overflow: hidden;">
                    <div class="tredici container-img w100"></div>
                    <div class="quattordici container-img"></div>
                </div>
                <div  style="width: 33.3%; overflow: hidden;  margin: 0px 5px;">
                    <div class="quindici container-img w100"></div>
                </div>
                <div style="width: 33.3%; overflow: hidden;">
                    <div class="sedici container-img w100"></div>
                    <div class="diciassette container-img w100"></div>
                </div>
            </div>
            
            <div class="row">
                <div class="diciotto container-img"></div>
                <div class="diciannove container-img"></div>
            </div>
        </div>
    </div>
</div>
